In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-06-07 12:47:30,-46.6000,168.3333,50.81,74,13,16.28
1,1,San Patricio,US,2022-06-07 12:47:30,28.0170,-97.5169,82.29,74,2,15.30
2,2,Dawei,MM,2022-06-07 12:47:30,14.0833,98.2000,75.88,92,100,5.99
3,3,Pevek,RU,2022-06-07 12:47:31,69.7008,170.3133,30.51,84,34,5.95
4,4,Solnechnyy,RU,2022-06-07 12:47:31,50.7214,136.6319,57.09,74,100,3.40

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,San Patricio,US,2022-06-07 12:47:30,28.0170,-97.5169,82.29,74,2,15.30
2,2,Dawei,MM,2022-06-07 12:47:30,14.0833,98.2000,75.88,92,100,5.99
7,7,Cam Ranh,VN,2022-06-07 12:47:32,11.9214,109.1591,82.36,74,20,2.30
9,9,Mwadui,TZ,2022-06-07 12:47:33,-3.5500,33.6000,83.30,31,100,4.45
10,10,Cape Town,ZA,2022-06-07 12:46:10,-33.9258,18.4232,88.21,28,0,13.80
...,...,...,...,...,...,...,...,...,...,...
536,536,Bobicesti,RO,2022-06-07 13:02:39,44.3833,24.1500,81.41,50,98,10.09
538,538,Pontian Kecil,MY,2022-06-07 13:02:40,1.4801,103.3899,81.03,78,100,3.65
539,539,Jiancheng,CN,2022-06-07 13:02:40,30.3910,104.5491,76.60,66,7,6.80
543,543,Carutapera,BR,2022-06-07 13:03:42,-1.1950,-46.0200,79.81,89,100,3.69
545,545,Zaoyang,CN,2022-06-07 13:03:42,32.1272,112.7542,80.91,55,38,6.98

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1   San Patricio      US     82.29  28.0170  -97.5169
2          Dawei      MM     75.88  14.0833   98.2000
7       Cam Ranh      VN     82.36  11.9214  109.1591
9         Mwadui      TZ     83.30  -3.5500   33.6000
10     Cape Town      ZA     88.21 -33.9258   18.4232
13     Cartagena      CO     80.22  10.3997  -75.5144
15      Hermanus      ZA     86.81 -34.4187   19.2345
16         Aktau      KZ     81.18  43.6500   51.2000
26         Avera      US     75.54  33.1940  -82.5271
27   La Asuncion      VE     80.02  11.0333  -63.8628

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [16]:
hotel_df

              City Country  Max Temp      Lat       Lng      Hotel Name
1     San Patricio      US     82.29  28.0170  -97.5169
2            Dawei      MM     75.88  14.0833   98.2000
7         Cam Ranh      VN     82.36  11.9214  109.1591
9           Mwadui      TZ     83.30  -3.5500   33.6000
10       Cape Town      ZA     88.21 -33.9258   18.4232
..             ...     ...       ...      ...       ...             ...
536      Bobicesti      RO     81.41  44.3833   24.1500
538  Pontian Kecil      MY     81.03   1.4801  103.3899
539      Jiancheng      CN     76.60  30.3910  104.5491
543     Carutapera      BR     79.81  -1.1950  -46.0200
545        Zaoyang      CN     80.91  32.1272  112.7542  Shanghai Hotel

[207 rows x 6 columns]

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))